{% extends "base.html" %}
{% load static %}

{% block style %}
      
{% endblock style %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class='mx-auto'>{{post.title}}</h2>
            <img src="{{post.img.url}}" class="img-fluid mx-auto" width="1000">  
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div style="padding-left: 200px;cursor: pointer;">
                <a href="{% url 'like_or_unlike' post.id %}">
                {% if request.user in post.like.all %}
                <i class="fas fa-thumbs-up fa-7x"></i>
                {% else %}
                <i class="far fa-thumbs-up fa-7x"></i>
                {% endif %}
            </a>
            <span>{{post.like.count}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding-left: 200px;cursor: pointer;">
                <a href="{% url 'dislike_or_undislike' post.id %}">
                {% if request.user in post.dislike.all %}
                <i class="fas fa-thumbs-down fa-7x"></i>
                {% else %}
                    <i class="far fa-thumbs-down fa-7x"></i>
                {% endif %}
            </a>
            <span>{{post.dislike.count}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container" style='height: 1000px;'></div>
{% endblock content %}
    